    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TIRAMISU . . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MANZANA ASADA . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>VIGILANTE . . . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLAS DE ESTACION . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>ZAPALLO EN ALMIBAR . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>REC DE DULCE O CREMA . .   $20</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA CASERA . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>BROWNIE CASERO CON HELADO $300</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 2 BOCHAS . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CHARLOTTE . . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMENDRADO . . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA MONZON/BONA/GATTI .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA LEMON CHAMP . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA FILLOL . . . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 HELADO . . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>TARANTELLA . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUE DULCE DE LECHE . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUE MANZANA AL RHUM .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUE MANZANA C/HELADO . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA SPLIT . . . . . .  $800</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/cerlo/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
