    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE C/TOSTADAS $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO CON CREMA  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE + TORTA .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE + TOSTADO  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>TE . . . . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE CON LECHE . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADO . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS . . . . . . .   $35</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/cerlo/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GASEOSA 1.5 LTS . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SODA SIFON 500ML . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADAS . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA O AGUA . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO EXPRIMIDO . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO AL AGUA . . . . . $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS BOTELLA/TIR</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BALON QUILMES . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL 250ML . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES X 1LITRO . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS 975ML . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE CERVEZA 1 Y 1/2  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA NOIRE 975ML . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA 740ML . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCK/STOUT/1890 975ML . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON CORONA . . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL PATAGONIA . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL STELLA . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL QUILMES BOCK . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL PAT NEGRA . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>BALON PATAGONIA . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>BALON STELLA . . . . . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>BALON BOCK . . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>BALON PAT NEGRA . . . . . $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS               </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COPA VINO LOPEZ/CAFAYATE  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA VASCO VIEJO . . . .  $115</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA VINO CROTTA . . . .  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA 1 LITRO VINO . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA 1/2 LT VINO . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO CROTTA 1L . . . . $125</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE MOSCATO CROTTA .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>BRAVIO DULCE NATURAL . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 3/4 . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS MALBEC 3/4 . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ .3/4 . . . . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO TINTO 3/4 . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>SAINT FELICIEN MALBEC 3/4 $730</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON COSECHA TARDIA . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASIA . . . . . . . . . $620</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFAYATE MALBEC .3/4 . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTIBA MALBEC . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 1/2 . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ .1/2 . . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 1/2 . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CLASICO 1/2 . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CHATEAU VIEUX 3/4 . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>DON VALENTIN LACRADO 3/4  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>UXMAL MALBEC/CABERNET 3/4 $370</li>                          
                <li class="text-center"><span class="fa-li"></span>ALTO UXMAL MALBEC . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>DESCORCHE . . . . . . . . $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CHAMPAGNE           </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COPA CHAMPAGNE . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTRA BRUT . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE LOPEZ . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $420</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">TRAGOS              </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CINZANO/ GANCIA . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET BRANCA . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET COLA . . . . . . . $230</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WISKY               </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>WHISKY J Y B . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISKY NACIONAL . . . . . $120</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/cerlo/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS FRIAS      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO ESTACIONADO . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO GRUYERE PORCION . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE C/ RUSA PORCION  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>LENGUA SALSA CRIOLLA PORC $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZARELLA CON OLIVA . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON COCIDO PORCION . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>MORTADELA C/PIST PORCION  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO AZUL PORCION . . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>LONGANIZA CALABRE PORCION $440</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPIGNONES PORCION . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>MORRONES ASADOS PORCION . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>ACEITUNAS VERDES PORCION  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>BERENJENAS VINAGR PORCION $280</li>                          
                <li class="text-center"><span class="fa-li"></span>LEBERWURST PORCION . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>ACEITUNAS NEGRAS PORCION  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>POROTOS PALLARES PORCION  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO 1/2 PORCION . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO GRUYERE 1/2 . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE C/RUSA 1/2 PORCI $320</li>                          
                <li class="text-center"><span class="fa-li"></span>LENGUA EN CRIOLLA 1/2 POR $260</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZARELLA OLIVA 1/2 PORC $320</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON COCIDO 1/2 PORCION  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MORTADELA 1/2 PORCION . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO AZUL 1/2 PORCION .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>LONGANIZA CALAB 1/2 PORCI $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPIGNONES 1/2 PORCION  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>CORAZON ALCAUCIL 1/2 PORC $240</li>                          
                <li class="text-center"><span class="fa-li"></span>MORRONES ASADOS 1/2 PORCI $340</li>                          
                <li class="text-center"><span class="fa-li"></span>ACEITUNAS VERDES 1/2 PORC $230</li>                          
                <li class="text-center"><span class="fa-li"></span>BERENJENAS VINAG 1/2 PORC $230</li>                          
                <li class="text-center"><span class="fa-li"></span>LEBERWURST 1/2 PORCION .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>ACEITUNAS NEGRAS 1/2 PORC $230</li>                          
                <li class="text-center"><span class="fa-li"></span>POROTOS PALLARES 1/2 . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO CON RUSA . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO CON ANANA . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON COCIDO CON RUSA . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>VITHEL TONNE . . . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>PALMITOS CON SALSA GOLF . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA DE AVE . . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA RUSA PORCION . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA DE ATUN . . . .  $470</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PICADAS             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PICADA LOPEZ . . . . . . $2500</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 PICADA LOPEZ . . . . $2100</li>                          
                <li class="text-center"><span class="fa-li"></span>BANDEJA DE FIAMBRES . . .$1600</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS CALIENTES  </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/2 RABAS . . . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>MUZZARELLA A LA MILANESA  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCADITOS ACELGA PORCION  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS PORCION . . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 MUZZARELLA A LA MILAN $360</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 BOCADITOS DE ACELGA . $300</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MILAS/SUPREMAS/FILET</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO . . . . . . .  $45</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA FUGAZETTA . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA NAPOLITANA . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA DE POLLO . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA . . . . . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NAPOLITANA . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET DE MERLUZA . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>MERLUZA AL ROQUEFORT . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER MILANGA PARA COMPAR$1350</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA MARYLAND . . . .  $850</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>REC LECH TOM HUE . . . .   $35</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO ATUN PALMITO CRUD  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA SIMPLE CHICA . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS MIXTA CHICA . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA SIMPLE GRANDE .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA ESPECIAL/COMPLET $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA ESPECIAL . . . . $255</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA MIXTA GRANDE . . $350</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TORTILLAS/ACOMPAÑAMI</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GUARNICION ESPECIAL . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPANOLA . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA DE PAPA O VERDUR $420</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION . . . . . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE PAPAS FRITAS . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS NORTENAS . . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>BASTONCITOS DE MUZZA . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>REC PROVENZAL . . . . . .  $25</li>                          
                <li class="text-center"><span class="fa-li"></span>PAPAS RUSTICAS CON MIEL . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACA A LA CREMA . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>PANACHE VERDURAS . . . .  $420</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NOQUIS VERDES . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CREPPES CASEROS . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>TALLARINES VERDES . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CANELONES CASEROS . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>LASAGNA CASERA . . . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES CASEROS . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>NOQUIS/TALLARINES CASEROS $240</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENTINOS CASEROS . . . $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SALSAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SALSA BOLOGNESA . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>PESTO . . . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO DE CARNE/POLLO . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA GRAN CARUSO . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA FILETO/CREM/BLA/MAN $130</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA FUNGHY . . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA CUATRO QUESOS . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA LOPEZ . . . . . . . $180</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PARRILA             </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BIFE ASTURIAS . . . . . .$1300</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO . . . . . $780</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO . . . . . .  $780</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO DESHUESADO . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 BIFE DE CHORIZO . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 BIFE DE LOMO . . . .  $560</li>                          
                <li class="text-center"><span class="fa-li"></span>ASADO DE TIRA . . . . . . $730</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 ASADO DE TIRA . . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>CHORIZO O MORCILLA . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>PROVOLETA . . . . . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE TIERNIZ C/FRITAS $580</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRES ESPECIALES . .  $730</li>                          
                <li class="text-center"><span class="fa-li"></span>BROCHETTE DE LOMO . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>BROCHETTE MIXTO . . . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>BROCHETTE DE POLLO . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO CHAMPIGNON . . . . . $950</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS . . . . . . . .  $70</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION JAMON O MORRON .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION JAMON Y MORR/NAPO  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION CANCHA/FUGAZZA .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION ANCHOAS . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGA RELLENA . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGA RELL C/JAMON $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZZA . . . . . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZZA Y JAMON . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE MUZZA Y MORRONES . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE JAMON Y MORRONES . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE FUGAZZA CON QUESO  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE CALABRESA . . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE NAPOLITANA . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE NAPO CON JAMON . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE DE CANCHA . . . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE DE ANCHOAS . . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MUZZA . . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MUZZA Y JAMON . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MUZZA Y MORRONES .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON Y MORRONES .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZZA CON QUESO . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CALABRESA . . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPOLITANA . . . .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPO Y JAMON . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA DE CANCHA . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA DE ANCHOAS . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGA RELLENA CON QUESO .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>FUGA RELLENA CON JAMON .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE PROVOLONE . . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE ROQUEFORT . . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE PALMITOS GENTLEMAN $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE PICADA LOPEZ . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE ASTURIAS . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GRANDE VILLA ORTUZAR . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PROVOLONE . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ROQUEFORT . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PALMITOS GENTLEMAN  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PICADA LOPEZ . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ASTURIAS . . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $40</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">POLLOS ESPECIALES   </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POLLO ESPECIALES . . . .  $460</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICH            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND DE QUESO . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND JAMON COCIDO . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND JAMON COCIDO Y QUESO $270</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND DE JAMON CRUDO . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND.JAMON CRUDO Y QUESO  $255</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND DE POLLO SOLO . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND DE LOMO SOLO . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND POLLO CLASICO . . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND DE LOMO CLASICO . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND DE MILA . . . . . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO DE JAMON Y QUESO  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MILA CLASICO . . . . $480</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TAPAS               </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TAPAS DE ALBONDIGAS . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>TAPAS DE TORTILLA ESPANOL $270</li>                          
                <li class="text-center"><span class="fa-li"></span>TAPAS DE TORTILLA VER O P $270</li>                          
                <li class="text-center"><span class="fa-li"></span>TAPAS DE CROCANTE PESCADO $300</li>                          
                <li class="text-center"><span class="fa-li"></span>TAPAS DE SALCHICHAS . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>TAPA DE MATAMBRE CASERO . $270</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MENU INFANTIL       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU INFANTIL . . . . . . $340</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/cerlo/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TIRAMISU . . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO . . . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DE FRUTAS . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MANZANA ASADA . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>VIGILANTE . . . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLAS DE ESTACION . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>ZAPALLO EN ALMIBAR . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>REC DE DULCE O CREMA . .   $20</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA CASERA . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>BROWNIE CASERO CON HELADO $300</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 2 BOCHAS . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CHARLOTTE . . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ALMENDRADO . . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA MONZON/BONA/GATTI .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA LEMON CHAMP . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA FILLOL . . . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 HELADO . . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>TARANTELLA . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUE DULCE DE LECHE . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUE MANZANA AL RHUM .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUE MANZANA C/HELADO . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>BANANA SPLIT . . . . . .  $800</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/cerlo/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
