    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/ LECHE + 3 MEDIALU $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE + TOSTADAS $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO CON CREMA  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE + TORTA .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE + TOSTADO  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>TE . . . . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE CON LECHE . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADO . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS . . . . . . .   $35</li>                          
                <li class="text-center"><span class="fa-li"></span>DOCENA DE MEDIALUNAS . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 DOCENA MEDIALUNAS . . $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/cerlo/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
