    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GASEOSA 1.5 LTS . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SODA SIFON 500ML . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADAS . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA O AGUA . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO EXPRIMIDO . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO AL AGUA . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO DE LECHE O JUGO .  $30</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS BOTELLA/TIR</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BALON QUILMES . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL 250ML . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES X 1LITRO . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA ARTOIS 975ML . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE CERVEZA 1 Y 1/2  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA NOIRE 975ML . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA 740ML . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCK/STOUT/1890 975ML . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON CORONA . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL PATAGONIA . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL STELLA . . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>BALON PATAGONIA . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>BALON STELLA . . . . . .  $190</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS               </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COPA VINO LOPEZ/CAFAYATE  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA VASCO VIEJO . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA VINO CROTTA . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA 1 LITRO VINO . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA 1/2 LT VINO . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO CROTTA 1L . . . . $125</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE MOSCATO CROTTA .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>BRAVIO DULCE NATURAL . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 3/4 . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>ALAMOS MALBEC 3/4 . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ .3/4 . . . . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO TINTO 3/4 . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>SAINT FELICIEN MALBEC 3/4 $800</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON COSECHA TARDIA . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ESMERALDA TINTO 3/4 . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>NICASIA . . . . . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFAYATE MALBEC .3/4 . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTIBA MALBEC . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 1/2 . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ .1/2 . . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOSO 1/2 . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CLASICO 1/2 . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTIBA 375 ML . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CHATEAU VIEUX 3/4 . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>UXMAL MALBEC/CABERNET 3/4 $370</li>                          
                <li class="text-center"><span class="fa-li"></span>ALTO UXMAL MALBEC . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>DESCORCHE . . . . . . . . $150</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CHAMPAGNE           </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COPA CHAMPAGNE . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTRA BRUT . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE LOPEZ . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $420</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">TRAGOS              </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CINZANO/ GANCIA . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET BRANCA . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET COLA . . . . . . . $230</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WHISKY              </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>WHISKY J Y B . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISKY NACIONAL . . . . . $120</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/cerlo/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
